@use "config/mixins" as mix;

.event {
  padding: 5rem 0;

  &__heading {
    @include mix.heading;
    margin-bottom: 5rem;
  }

  &__grid {
    @include mix.grid(1, 2rem);

    @include mix.tablet {
      @include mix.grid(3, 2rem);
    }
  }

  &__info {
    grid-column: 1 / 3;
  }
}
