<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeti | Evento</title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header header__container">
      <div class="header__logo">
        <a href="#index.html">
          <img src="./assets/img/logo.png" alt="Logo Meeti" />
        </a>
      </div>
      <nav class="nav">
        <a class="nav__link nav__link--create" href="#">Crear grupo</a>
        <a class="nav__link" href="#">Iniciar sesión</a>
        <a class="nav__link" href="#">Registrarse</a>
      </nav>
    </header>
    <main class="event event__container">
      <h2 class="event__heading">Taller de Wordpress con NextJS</h2>

      <div class="event__grid">
        <section class="event__info">
          <picture class="event__picture">
            <img
              class="event__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/meeti.jpg"
              alt=""
            />
          </picture>
          <div class="event__content">
            <p class="event__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iure
              harum nam placeat maiores blanditiis quo neque adipisci nesciunt
              nemo incidunt dicta ea eligendi hic, ullam esse modi et
              exercitationem eaque mollitia minus voluptate ipsum ad. Quia
              reiciendis eligendi fugiat sequi quod est reprehenderit in,
              excepturi eaque illum, amet suscipit.
            </p>
            <p class="event__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iure
              harum nam placeat maiores blanditiis quo neque adipisci nesciunt
              nemo incidunt dicta ea eligendi hic, ullam esse modi et
              exercitationem eaque mollitia minus voluptate ipsum ad. Quia
              reiciendis eligendi fugiat sequi quod est reprehenderit in,
              excepturi eaque illum, amet suscipit.
            </p>
            <p class="event__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iure
              harum nam placeat maiores blanditiis quo neque adipisci nesciunt
              nemo incidunt dicta ea eligendi hic, ullam esse modi et
              exercitationem eaque mollitia minus voluptate ipsum ad. Quia
              reiciendis eligendi fugiat sequi quod est reprehenderit in,
              excepturi eaque illum, amet suscipit.
            </p>
            <p class="event__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iure
              harum nam placeat maiores blanditiis quo neque adipisci nesciunt
              nemo incidunt dicta ea eligendi hic, ullam esse modi et
              exercitationem eaque mollitia minus voluptate ipsum ad. Quia
              reiciendis eligendi fugiat sequi quod est reprehenderit in,
              excepturi eaque illum, amet suscipit.
            </p>
          </div>
        </section>
        <aside class="card-sidebar">
          <picture class="card-sidebar__picture">
            <img
              class="card-sidebar__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/mapa.jpg"
              alt="imagen-mapa"
            />
          </picture>
          <div class="card-sidebar__content">
            <h3 class="card-sidebar__heading">Información</h3>
            <p class="card-sidebar__text">
              <span class="card-sidebar__label">Fecha: </span> 20 de Enero de
              2020
            </p>
            <p class="card-sidebar__text">
              <span class="card-sidebar__label">Hora: </span> 10:00 AM
            </p>
            <p class="card-sidebar__text">
              <span class="card-sidebar__label">Ubicación: </span> Inserte
              ubicación
            </p>
          </div>
        </aside>
      </div>
    </main>
    <footer class="footer footer__container">
      <nav class="nav">
        <a class="nav__link nav__link--create" href="#">Crear grupo</a>
        <a class="nav__link" href="#">Iniciar sesión</a>
        <a class="nav__link" href="#">Registrarse</a>
      </nav>

      <p class="footer__copyright">
        Copyright © 2022 Meeti. Todos los derechos reservados.
      </p>
    </footer>
  </body>
</html>
