@use "config/variables" as var;
@use "config/mixins" as mix;

.header {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mix.tablet {
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
